
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Estudante .NET</h1>
                    <hr class="small">
                    <span class="subheading">O espaço entre a teoria e a prática não é tão grande, como é a teoria na prática.</span>
                </div>
            </div>
        </div>
    </div>
</header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @foreach (var post in ViewBag.listaPost)
    {
        <div class="post-preview">
            <a href="@Url.Action("Index", "Post", new { id = post.id })">
                <h2 class="post-title">
                  @post.titulo
                </h2>
                <h3 class="post-subtitle">
                   @post.subtitulo
                </h3>
            </a>
            <p class="post-meta">Postado por <a href="#">@post.autor</a> em @post.data.ToString("dd'.'MM'.'yyyy")</p>
        </div>
    }

                @*<div class="post-preview">
                    <a href="#">
                        <h2 class="post-title">
                            PAGINA EM CONSTRUÇÃO
                        </h2>
                        <h3 class="post-subtitle">
                            Em breve teremos bastante conteúdo.
                        </h3>
                    </a>
                    <p class="post-meta">Postado por <a target="_blank" href="thiagodesenv.com.br">Thiago de Melo Lima</a> em 18 de Janeiro de 2016</p>
                </div>*@
                @*<hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
            </h2>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
    </div>
    <hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Science has not yet mastered prophecy
            </h2>
            <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
    </div>
    <hr>
    <div class="post-preview">
        <a href="post.html">
            <h2 class="post-title">
                Failure is not an option
            </h2>
            <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
    </di>*@
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Posts anteriores &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>

